@import "../../variables.scss";

.HeroSectionTabs {
  width: 100%;
  .container {
    padding: 0;
  }
  &__underline {
    height: 2px;
    width: 100%;
    background: #e0e0e0;
    position: relative;
    top: -4px;
  }
  &__tabs {
    width: 100%;
    overflow-x: auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    .tab {
      min-width: max-content;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      font-weight: 700;
      font-size: toRem(10);
      padding: toRem(24) toRem(16);
      color: $gray;
      &::after {
        z-index: 10;
        content: "";
        width: 0;
        position: absolute;
        bottom: 2px;
        left: 0;
        height: 2px;
        background: $blue;
        transition: width 0.3s;
      }
      &:hover {
        color: $blue;
      }
      &.active {
        color: $blue;
        &::after {
          width: 100%;
          background: $blue;
        }
      }
      &.toLeft {
        &::after {
          float: right;
          left: unset;
          right: 0;
        }
      }
      &.toRight {
        &::after {
          float: left;
          left: 0;
          right: unset;
        }
      }
      &.active.toRight {
        &::after {
          float: right;
          left: unset;
          right: 0;
        }
      }
      &.active.toLeft {
        &::after {
          float: left;
          left: 0;
          right: unset;
        }
      }
    }
  }
  &__currentTab {
    padding: 0 toRem(20);
    width: 100%;
    margin-top: toRem(20);
  }
  &__searchInput {
    margin-left: auto;
  }
  @media (min-width: 1024px) {
    margin-top: toRem(20);
    .container {
      max-width: toRem(924);
    }
    &__tabs {
      overflow: unset;
    }
    &__currentTab {
      padding: 0;
    }
  }
  @media (min-width: toRem(1280)) {
    .container {
      max-width: toRem(1280);
    }
  }
}
