@import "../../variables.scss";
.button {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: toRem(15);
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
  font-size: toRem(10);
  &:hover {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
  }
  span {
    font-weight: 700;
    margin-right: toRem(8);
  }
  &__filled {
    background-color: $blue;
  }
}
