@import "../../variables.scss";
.DiscoverTabs {
  &__header {
    display: flex;
    align-items: center;
    .button {
      &__non-active {
        background: transparent;
      }
      &:hover {
        box-shadow: none;
      }
      span {
        min-width: max-content;
      }
      &__non-active {
        color: black;
        .icon {
          opacity: 0;
        }
      }
      .icon {
        fill: white;
        height: toRem(14);
      }
    }
  }
  &__tabs {
    display: flex;
    flex-grow: 1;
    column-gap: 10px;
    width: 100%;
    margin-left: 40px;
    margin-right: auto;
  }

  &__currentTab {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__tiles-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(24);
  }
  @media (min-width: 1024px) {
    &__tiles-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: toRem(24);
    }
  }
}
