@import "../../variables.scss";
.Header {
  width: 100%;
  font-weight: 700;
  padding: 30px 0;
  background: #fafafa;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  &_logo {
    color: black;
    font-weight: 800;
    font-size: toRem(24);
    span {
      color: $blue;
    }
  }
  &__burger {
    color: #00d1ff;
    width: toRem(20);
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: toRem(24);
  }

  &__menu-item {
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      margin-left: toRem(8);
      color: black;
      font-size: toRem(10);

      transition: color 0.3s;
    }
    .icon {
      height: 1rem;
      fill: $gray;
      &_favorites {
        fill: none;
        stroke: $gray;
      }
    }
    &:hover {
      span {
        color: $blue;
      }
      .icon {
        fill: $blue;
        &_favorites {
          fill: $blue;
          stroke: $blue;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    &__burger {
      display: none;
    }
    &__menu {
      display: flex;
    }
  }
  @media (min-width: 1280px) {
    &__menu {
      column-gap: toRem(32);
    }

    &_logo {
      font-size: toRem(32);
    }
  }
}
